@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif',serif;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
}

